@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* body {
  margin-top: 10;
} */

#map {
  align-items: center;
}

.header {
  text-align: center;
  font-size: 60px;
  font-family: "Lato";
  font-weight: 300;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  color: rgb(80, 80, 80);
  line-height: 1;
}

h3 {
  font-size: 40px;
  font-family: "Lato";
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgb(80, 80, 80);
  line-height: 1;
  align-items: left;
}

.country-name {
  font-family: "Lato";
  font-size: 13px;
  fill: rgb(80, 80, 80);
  text-shadow: 0 0 3px #ffffff, 0 0 4px #f7f7f8;
}

.geo-name {
  font-family: "Lato";
  color: rgb(104, 104, 104);
  margin: 0;
  margin-top: 5px;
  padding-top: 0;
  padding-bottom: 0px;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

.figures {
  font-family: "Lato";
  color: rgb(104, 104, 104);
  padding-top: 2px;
  line-height: 1;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 1px;
  margin-bottom: 0;
  margin-top: 1;
  font-style: bold;
}

.no-data {
  font-family: "Lato";
  color: rgb(104, 104, 104);
  padding-top: 0px;
  line-height: 1;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 0px;
  margin-bottom: 0;
  margin-top: 0;
}

#map-legend {
  padding-top: 30px;
}

.legend {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
}

.legend-ticks {
  font-size: 13px;
}

#tooltip {
  position: absolute;
  display: none;
  border: solid 1px #000000;
}

.circles:hover {
  stroke: rgb(24, 24, 24);
  stroke-width: 1px;
  opacity: 1;
}

.axis {
  opacity: 0.45;
}

.labels {
  font-size: 12px;
  font-family: "Lato";
}

.geo {
  font-family: "Lato";
  color: rgb(104, 104, 104);
  margin: 0;
  margin-top: 2px;
  padding-top: 0;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-style: bold;
}

#income {
  font-family: "Lato";
  color: rgb(104, 104, 104);
  padding-top: 2px;
  line-height: 1;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 4px;
  margin-bottom: 0;
  margin-top: 1;
  font-style: italic;
}

.region {
  font-family: "Lato";
  color: rgb(104, 104, 104);
  padding-top: 2px;
  line-height: 1;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 4px;
  margin-bottom: 0;
  margin-top: 1;
  font-style: bold;
}

.highlight {
  color: white;
  background-color: #3d6e90;
  padding: 3px;
}

.text {
  font-family: "Lato";
  font-size: 19px;
  line-height: 1.6;
  font-weight: 300;
  text-align: justify;
}

.container {
  margin-bottom: 20px;
}

.update {
  margin-bottom: 40px;
  text-align: center;
}

.space-bottom {
  margin-bottom: 20px;
}

#chart {
  padding-left: 0;
  margin-left: 21%;
  margin-right: 25%;
}

.legendText {
  fill: black;
}

.line-between {
  stroke-width: 2px;
  stroke: rgb(204, 203, 203);
}

.line-before {
  stroke-width: 0.5px;
  stroke: #dfdede;
  opacity: 0.7;
}

.country-name {
  opacity: 0.5;
}
